@model Filarkiv.Models.Filemodel

@{
    ViewBag.Title = "UploadFiles";
}

<h2>UploadFiles</h2>


@using (Html.BeginForm("UploadFiles", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.PostedFiles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PostedFiles, "", new { @type = "file", @multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.PostedFiles, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NewCategory, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>Choose from list:</p>
            @Html.DropDownListFor(m => m.SelectedCategory, Model.Categories, "Select category")
            <br /><br />
            <p>Or create a new category:</p>
            @Html.TextBoxFor(m => m.NewCategory)
            @Html.ValidationMessageFor(model => model.NewCategory, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-success">
            @ViewBag.UploadStatus
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
